{% extends "budget/base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
{% if next %}
<p id="login_required">Please login to see this page.</p>
{% endif %}

<form class="mt-2" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {% include "budget/form_snippet.html" %}
  <input type="hidden" name="next" value="{{ next }}" />
  <button type="submit" class="btn btn-primary">Login</button>
  <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-sm">Forgot password?</a>
</form>
{% endblock %}