{% extends "budget/base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  {% include "budget/form_snippet.html" %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="btn-toolbar my-3 justify-content-center">
  <a class="btn btn-primary mr-3" href="{% url 'user_delete' %}">Delete account</a>
  {% if object.external_id %}
  <a class="btn btn-primary mr-3" id="synchronization" href="{% url 'profile_disconnect' %}">Disable external
    synchronization</a>
  {% else %}
  <a class="btn btn-primary mr-3" id="synchronization" href="{% url 'profile_connect' %}">Enable external
    synchronization</a>
  {% endif %}
</div>
{% endblock %}