{% extends "budget/base.html" %}

{% block title %}
Accounts
{% endblock %}

{% block content %}
<div class="btn-toolbar m-1 justify-content-center">
    <a class="btn btn-primary m-1" href="{% url 'accounts:account_create' %}">Create</a>
</div>

<table class="table table-bordered text-center">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Connection</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for account in account_list %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.get_account_type_display }}</td>
            <td>{{ account.connection }}</td>
            <td>
                <a class="btn btn-outline-primary btn-sm m-1"
                    href="{% url 'accounts:account_update' account.id %}">Update</a>
                <a class="btn btn-outline-primary btn-sm m-1"
                    href="{% url 'accounts:account_delete' account.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "budget/pagination.html" %}
{% endblock %}