<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Budget Supervisor</title>

    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <div>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'budget_index' %}">Home</a></li>
            <li><a href="{% url 'connections:connection_list' %}">Connections</a></li>
            <li><a href="{% url 'accounts:account_list' %}">Accounts</a></li>
            <li><a href="{% url 'transactions:transaction_list' %}">Transactions</a></li>
            <li><a href="{% url 'categories:category_list' %}">Categories</a></li>
            <li><a href="{% url 'reports:report_balance' %}">Balance</a></li>
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
            <li><a href="{% url 'signup' %}">Try it Free</a></li>
            {% endif %}
        </ul>
    </div>
    <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>{% block content %}{% endblock %}</div>

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>