<!DOCTYPE html>
<html>
    <head>
        <title>Budget Supervisor</title>
    </head>
    <body>
        <div>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'budget_index' %}">Home</a></li>
                    <li><a href="{% url 'connections:connection_list' %}">Connections</a></li>
                    <li><a href="{% url 'accounts:account_list' %}">Accounts</a></li>
                    <li><a href="{% url 'transactions:transaction_list' %}">Transactions</a></li>
                    <li><a href="{% url 'categories:category_list' %}">Categories</a></li>
                    <li><a href="{% url 'reports:report_balance' %}">Balance</a></li>
                    <li>User: {{ user.get_username }}</li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>   
                    <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>   
                {% else %}
                    <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>   
                    <li><a href="{% url 'signup' %}">Sign up</a></li>   
                {% endif %} 
            </ul>
        </div>
        <div>{% block content %}{% endblock %}</div>
    </body>
</html>