{% extends "budget/base.html" %}

{% block content %}
<ul id="menu">
    <li><a href="{% url 'categories:category_create' %}">Create</a></li>
</ul>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in category_list %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>
                <ul>
                    <li><a href="{% url 'categories:category_update' category.id %}">Update</a></li>
                    <li><a href="{% url 'categories:category_delete' category.id %}">Delete</a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "budget/pagination.html" %}
{% endblock %}