{% extends "budget/base.html" %}

{% block title %}
Categories
{% endblock %}

{% block content %}
<div class="btn-toolbar m-1 justify-content-center">
    <a class="btn btn-primary m-1" href="{% url 'categories:category_create' %}">Create</a>
</div>

<table class="table table-bordered text-center">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in category_list %}
        <tr>
            <td>{{ category.name }}</td>
            <td>
                <a class="btn btn-outline-primary btn-sm m-1"
                    href="{% url 'categories:category_update' category.id %}">Update</a>
                <a class="btn btn-outline-primary btn-sm m-1"
                    href="{% url 'categories:category_delete' category.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "budget/pagination.html" %}
{% endblock %}