{% extends "budget/base.html" %}

{% block content %}
<ul id="menu">
    <li><a href="{% url 'connections:connection_create' %}">Create</a></li>
    <li><a href="{% url 'connections:connection_import' %}">Import</a></li>
</ul>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Provider</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for connection in connection_list %}
        <tr>
            <td>{{ connection.id }}</td>
            <td>{{ connection.provider }}</td>
            <td>
                <ul>
                    <li><a href="{% url 'connections:connection_update' connection.id %}">Update</a></li>
                    <li><a href="{% url 'connections:connection_delete' connection.id %}">Delete</a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "budget/pagination.html" %}
{% endblock %}