{% extends "budget/base.html" %}

{% block title %}
Connections
{% endblock %}

{% block content %}
<div class="btn-toolbar m-1 justify-content-center">
    <a class="btn btn-primary m-1" href="{% url 'connections:connection_create' %}">Create</a>
</div>

<table class="table table-bordered text-center">
    <thead class="thead-light">
        <tr>
            <th>Provider</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for connection in connection_list %}
        <tr>
            <td>{{ connection.provider }}</td>
            <td>
                <a class="btn btn-outline-primary btn-sm m-1"
                    href="{% url 'connections:connection_update' connection.id %}">Update</a>
                <a class="btn btn-outline-primary btn-sm m-1"
                    href="{% url 'connections:connection_delete' connection.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "budget/pagination.html" %}
{% endblock %}