{% load widget_tweaks %}

{% if form.non_field_errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% for error in form.non_field_errors %}
    {{ error|escape }}{% if not forloop.last %}<br>{% endif %}
    {% endfor %}
</div>
{% endif %}

{% for field in form %}
<div class="form-group">
    {{ field.label_tag }}

    {% if field.errors %}
    {{ field|add_class:"form-control is-invalid" }}
    {% else %}
    {{ field|add_class:"form-control" }}
    {% endif %}

    {% for error in field.errors %}
    <div class="invalid-feedback">{{ error|escape }}</div>
    {% endfor %}
</div>
{% endfor %}