{% extends "budget/base.html" %}

{% block title %}
Income Report
{% endblock %}

{% block content %}
<form action="" method="get">
  {% include "budget/form_snippet.html" %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table table-bordered text-center mt-1">
  <thead class="thead-light">
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Revenue</th>
      <th>Expenses</th>
      <th>Income</th>
    </tr>
  </thead>
  <tbody>
    {% for record in report.records %}
    <tr>
      <td>{{ record.from|date:"SHORT_DATE_FORMAT"}}</td>
      <td>{{ record.to|date:"SHORT_DATE_FORMAT"}}</td>
      <td>{{ record.revenue|floatformat:2 }}</td>
      <td>{{ record.expenses|floatformat:2 }}</td>
      <td>{{ record.income|floatformat:2 }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot class="thead-light">
    {% if report.summary %}
    <tr>
      <td>{{ report.summary.from|date:"SHORT_DATE_FORMAT"}}</td>
      <td>{{ report.summary.to|date:"SHORT_DATE_FORMAT"}}</td>
      <td>{{ report.summary.revenue|floatformat:2 }}</td>
      <td>{{ report.summary.expenses|floatformat:2 }}</td>
      <td>{{ report.summary.income|floatformat:2 }}</td>
    </tr>
    {% endif %}
  </tfoot>
</table>
{% endblock %}