{% extends "budget/base.html" %}

{% block title %}
Transactions
{% endblock %}

{% block content %}
<div class="btn-toolbar m-1 justify-content-center">
    <a class="btn btn-primary m-1" href="{% url 'transactions:transaction_create' %}">Create</a>
    <a class="btn btn-primary m-1" href="{% url 'transactions:transaction_import' %}">Import</a>
</div>

<table class="table table-bordered text-center">
    <thead class="thead-light">
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Payee</th>
            <th>Category</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transaction_list %}
        <tr>
            <td>{{ transaction.date|date:"SHORT_DATE_FORMAT"}}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.payee }}</td>
            <td>{{ transaction.category }}</td>
            <td>{{ transaction.description }}</td>
            <td>
                <a class="btn btn-outline-primary btn-sm m-1"
                    href="{% url 'transactions:transaction_update' transaction.id %}">Update</a>
                <a class="btn btn-outline-primary btn-sm m-1"
                    href="{% url 'transactions:transaction_delete' transaction.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "budget/pagination.html" %}
{% endblock %}