# coding: utf-8

"""
    Salt Edge Account Information API

    API Reference for services  # noqa: E501

    OpenAPI spec version: 5.0.0
    Contact: support@saltedge.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AttemptsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def attempts_attempt_id_get(self, attempt_id, connection_id, **kwargs):  # noqa: E501
        """Attempt object  # noqa: E501

        Returns a single attempt object.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.attempts_attempt_id_get(attempt_id, connection_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str attempt_id: (required)
        :param str connection_id: (required)
        :return: AttemptResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.attempts_attempt_id_get_with_http_info(attempt_id, connection_id, **kwargs)  # noqa: E501
        else:
            (data) = self.attempts_attempt_id_get_with_http_info(attempt_id, connection_id, **kwargs)  # noqa: E501
            return data

    def attempts_attempt_id_get_with_http_info(self, attempt_id, connection_id, **kwargs):  # noqa: E501
        """Attempt object  # noqa: E501

        Returns a single attempt object.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.attempts_attempt_id_get_with_http_info(attempt_id, connection_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str attempt_id: (required)
        :param str connection_id: (required)
        :return: AttemptResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['attempt_id', 'connection_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method attempts_attempt_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'attempt_id' is set
        if ('attempt_id' not in params or
                params['attempt_id'] is None):
            raise ValueError("Missing the required parameter `attempt_id` when calling `attempts_attempt_id_get`")  # noqa: E501
        # verify the required parameter 'connection_id' is set
        if ('connection_id' not in params or
                params['connection_id'] is None):
            raise ValueError("Missing the required parameter `connection_id` when calling `attempts_attempt_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'attempt_id' in params:
            path_params['attempt_id'] = params['attempt_id']  # noqa: E501

        query_params = []
        if 'connection_id' in params:
            query_params.append(('connection_id', params['connection_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['app_id', 'secret']  # noqa: E501

        return self.api_client.call_api(
            '/attempts/{attempt_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AttemptResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def attempts_get(self, connection_id, **kwargs):  # noqa: E501
        """List of attempts  # noqa: E501

        Returns a paginated list of all attempts for a certain connection.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.attempts_get(connection_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str connection_id: (required)
        :return: AttemptsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.attempts_get_with_http_info(connection_id, **kwargs)  # noqa: E501
        else:
            (data) = self.attempts_get_with_http_info(connection_id, **kwargs)  # noqa: E501
            return data

    def attempts_get_with_http_info(self, connection_id, **kwargs):  # noqa: E501
        """List of attempts  # noqa: E501

        Returns a paginated list of all attempts for a certain connection.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.attempts_get_with_http_info(connection_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str connection_id: (required)
        :return: AttemptsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['connection_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method attempts_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'connection_id' is set
        if ('connection_id' not in params or
                params['connection_id'] is None):
            raise ValueError("Missing the required parameter `connection_id` when calling `attempts_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'connection_id' in params:
            query_params.append(('connection_id', params['connection_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['app_id', 'secret']  # noqa: E501

        return self.api_client.call_api(
            '/attempts', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AttemptsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
