<ul>
    <li><a href="{% url 'accounts:account_create' %}">Create</a></li>
    <li><a href="{% url 'accounts:account_import' %}">Import</a></li>
</ul>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
    {% for account in account_list %}
    <tr> 
        <td>{{ account.id }}</td>
        <td>{{ account.name }}</td>
        <td>{{ account.get_account_type_display }}</td>
        <td>
            <ul>
                <li><a href="{% url 'accounts:account_update' account.id %}">Update</a></li>
                <li><a href="{% url 'accounts:account_delete' account.id %}">Delete</a></li>
            </ul>
        </td>
    </tr>
    {% endfor %}
</table>