<table>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Payee</th>
        <th>Category</th>
        <th>Description</th>
    </tr>
    {% for transaction in transaction_list %}
    <tr> 
        <td><a href="{% url 'accounts:transaction_update' pk=transaction.id account_id=transaction.account_id%}">{{ transaction.id }}</a></td>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.payee }}</td>
        <td>{{ transaction.category }}</td>
        <td>{{ transaction.description }}</td>
    </tr>
    {% endfor %}
</table>