<ion-view title="Category" ng-controller="CategoryDetailsController">
  <ion-content padding="true" class="has-header">
    <form name="categoryDetailsForm" ng-submit="save(category)">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" name="title" ng-model="category.title" required>
        </label>
        <div ng-messages="categoryDetailsForm.title.$error"
             ng-messages-include="templates/errormessages.html"
             ng-if="categoryDetailsForm.title.$touched"></div>
      </ion-list>
      <input type="submit" class="button button-stable button-block" value="Save" />
    </form>
  </ion-content>
</ion-view>
