<ion-view title="Categories" ng-controller="CategoriesController">
  <ion-nav-buttons side="primary">
    <button class="button button-icon icon ion-minus-circled" ng-click="toggleDelete()"></button>
    <button class="button button-icon icon ion-drag" ng-click="toggleReorder()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list show-delete="config.showDelete" show-reorder="config.showReorder">
      <ion-item ng-repeat="category in categories">
        <p align="center">{{ category.title }}</p>
        <ion-delete-button class="ion-minus-circled" ng-click="remove(category.id)"></ion-delete-button>
        <ion-reorder-button class="ion-drag" on-reorder="reorder(category, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
