<ion-view title="Categories" ng-controller="CategoriesController">
  <ion-footer-bar class="bar-positive">
    <button class="button button-icon icon ion-minus-circled" ng-click="toggleDelete()"></button>
    <a href="#/categories/" class="button button-icon icon ion-plus-circled"></a>
  </ion-footer-bar>
  <ion-content padding="true" class="has-header">
    <ion-list show-delete="config.showDelete" show-reorder="config.showReorder">
      <ion-item ng-repeat="category in categories">
        <a href="#/categories/{{ category.id }}" class="button button-positive button-clear button-block">{{ category.title }}</a>
        <ion-delete-button class="ion-minus-circled" ng-click="remove(category.id)"></ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
