<ion-view title="Home">
  <ion-content padding="true" class="has-header">
    <h1>Summary</h1>
    <ion-list>
      <ion-item>Income</ion-item>
      <ion-item>Expenses</ion-item>
    </ion-list>
    <a href="#/transactions" class="button button-stable button-block">Transactions</a>
    <a href="#/categories" class="button button-stable button-block">Categories</a>
    <a href="#/tags" class="button button-stable button-block">Tags</a>
    <a href="#/reminders" class="button button-stable button-block">Reminders</a>
    <a href="#/statistics" class="button button-stable button-block">Statistics</a>
    <a href="#/settings" class="button button-stable button-block">Settings</a>
  </ion-content>
</ion-view>
