<ion-view title="Tags" ng-controller="TagsController">
  <ion-footer-bar class="bar-positive">
    <button id="toggleDeleteButton" class="button button-icon icon ion-minus-circled" ng-click="toggleDelete()"></button>
    <a id="addTagButton" href="#/tags/" class="button button-icon icon ion-plus-circled"></a>
  </ion-footer-bar>
  <ion-content padding="true" class="has-header">
    <ion-list id="tagsList" show-delete="config.showDelete">
      <ion-item ng-repeat="tag in tags">
        <a href="#/tags/{{ tag.id }}" class="button button-positive button-clear button-block">{{ tag.title }}</a>
        <ion-delete-button class="ion-minus-circled" ng-click="remove(tag.id)"></ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

