<ion-tabs class="tabs-icon-top">
  <ion-tab title="Transactions" icon="icon ion-home">
    <ion-content padding="true" class="has-header">
      <ion-list>
        <ion-item>Eggs</ion-item>
        <ion-item>Salary</ion-item>
        <ion-item>Energy bill</ion-item>
      </ion-list>
    </ion-content>
  </ion-tab>
  <ion-tab title="Categories" icon="icon ion-heart" href="#/categories">
    <ion-nav-view name="categories"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Tags" icon="icon ion-gear-b" href="#/tags">
    <ion-nav-view name="tags"></ion-nav-view>
  </ion-tab>
</ion-tabs>

