<ion-view title="Transactions" ng-controller="TransactionsController">
  <ion-footer-bar class="bar-positive">
    <button id="toggleDeleteButton" class="button button-icon icon ion-minus-circled" ng-click="toggleDelete()"></button>
    <a id="addTransactionButton" href="#/transactions/" class="button button-icon icon ion-plus-circled"></a>
  </ion-footer-bar>

  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey">
    </label>
    <button class="button button-clear" ng-click="searchKey = ''">X</button>
  </div>

  <ion-content padding="true" class="has-header has-subheader">
    <ion-list id="transactionsList" show-delete="config.showDelete">
      <ion-item ng-repeat="transaction in transactions | filter: searchKey">
        <a href="#/transactions/{{ transaction.id }}" class="button button-positive button-clear button-block">
            <span class="float-left">{{ transaction.date | date }}</span>
            {{ transaction.title }}
            <span class="float-right">{{ transaction.value | currency}}</span>
        </a>
        <ion-delete-button class="ion-minus-circled" ng-click="remove(transaction.id)"></ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
