<ion-view title="Transaction">
  <ion-content padding="true" class="has-header">
    <form>
      <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">Value</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-select">
        <span class="input-label">Category</span>
        <select></select>
      </label>
      <label class="item item-select">
        <span class="input-label">Tags</span>
        <select></select>
      </label>
      <label class="item item-input">
        <span class="input-label">Description</span>
        <textarea placeholder=""> </textarea>
      </label>
    </form>
  </ion-content>
</ion-view>
